*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.svg') format('svg'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Gilroy-Regular';
}

.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding-top: 70px;


    background-color: #0F1145;

    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-position: right;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    .menu__list {
        display: flex;
        list-style: none;
    }

    .menu__list-link {
        position: relative;
        font-family: Gilroy-Regular;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #B5B5B5;
        text-decoration: none;
    }

    .menu__list-link::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #F2994A;
        bottom: -6px;
        left: 0;
        transition: .5s all;
    }

    .menu__list-link:hover::after {
        width: 100%;
    }

    .menu__list-item {
        margin-right: 25px;
    }

    &__buttons {
        display: flex;
    }

    .sing__in {
        display: block;
        color: #F2994A;
        border: 1px solid #F2994A;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 30px;
        margin-right: 20px;
        transition: .5s;

        &:hover {
            background: #F2994A;
            color: #fff;
        }
    }

    .sing__up {
        display: block;
        background: #F2994A;
        border: 1px solid #F2994A;
        border-radius: 4px;
        color: #fff;
        padding: 10px 30px;
        transition: .5s all;

        &:hover {
            box-shadow: 3px 3px 30px -3px rgba(242, 153, 74, 1);
        }
    }

    .burger-menu {
        margin-right: 44px;
    }

    .burger-menu__button {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #F2994A;
        transition: 0.4s;


        &:hover .burger-menu__lines {
            opacity: 0.8;
        }
    }

    .burger-menu__lines,
    .burger-menu__lines::after,
    .burger-menu__lines::before {
        position: absolute;
        width: 14px;
        height: 6px;
        background-color: #FFF;
        border-radius: 2px;
    }

    .burger-menu__lines {
        transition: .2s all;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-menu__lines::before {
        display: none;
        content: '';

    }

    .burger-menu__lines::after {
        content: '';
        top: 10px;
    }


    .burger-menu__active .burger-menu__lines {
        background-color: transparent;
    }

    .burger-menu__active .burger-menu__lines::after {
        top: 53%;
        left: -3px;
        transform: translate(-50%);
        transform: rotate(45deg);
        width: 20px;
    }

    .burger-menu__active .burger-menu__lines::before {

        display: block;
        top: 53%;
        left: -3px;
        transform: translate(-50%);
        width: 20px;
        transform: rotate(-45deg);
    }

    .burger-menu__active .burger-menu__lines {
        background-color: transparent;
    }

    .burger-menu__nav {
        position: absolute;
        width: 250px;
        padding-top: 36px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        left: -100%;
        transition: .5s;
    }

    .burger-menu__active .burger-menu__nav {
        left: 0;
    }

    .burger-menu__link {
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #B5B5B5;
    }



    &__block {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-right: 30px;
        padding-top: 35px;
    }

    &__title {
        max-width: 531px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 50px;
        color: #99EFD0;
        margin-bottom: 19px;
    }

    &__text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #8476AA;
        max-width: 468px;
        margin-bottom: 40px;
    }

    &__content-buttons {
        display: flex;
        margin-bottom: 60px;
    }

    &__more {
        margin-right: 20px;
        background: #F2994A;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
        border-radius: 3px;
        color: #fff;
        padding: 13px 31px;

        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__demo {
        border: 1px solid #F2994A;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 13px 55px;

        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #F2994A;
    }

    &__video {
        display: flex;
    }

    .about__popup {
        background: #361C5D;
        border-radius: 4px;
        padding: 16px 46px;
        margin-right: 20px;
        margin-bottom: 103px;
    }

    &__video-text {
        max-width: 380px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #8476AA;
        margin-bottom: 6px;
    }

    &__video-link {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #6D6D78;
    }


    &__partners {
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0.4;
        padding-bottom: 100px;
    }

}

.hero {
    padding-top: 100px;
    position: relative;
    background: #0F1145;
    padding-bottom: 12px;
    padding-bottom: 150px;
    background-image: url(../images/crumbs.png);
    background-position: top;
    background-repeat: no-repeat;

    &__decoration {
        position: absolute;
        top: -200px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 35px 70px;
    }

    &__block {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        color: #99EFD0;
        margin-bottom: 13px;
    }

    &__text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #8476AA;
        margin-bottom: 50px;
    }

    &__block-title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #99EFD0;
        margin-bottom: 10px;
    }

    &__block-text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #8476AA;
    }

    &__block-content {
        position: relative;
    }

    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: -40px;
    }
}


.traffic {
    background-color: #0F1145;
    padding-bottom: 150px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding-top: 60px;
    }

    &__title {
        max-width: 325px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #99EFD0;
        margin-bottom: 32px;

        & span {
            color: #F2994A;
        }
    }

    &__text {
        max-width: 443px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #8476AA;
        margin-bottom: 43px;
    }

    &__button {
        background: #F2994A;
        border-radius: 3px;
        color: #fff;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 14px 31px;
        transition: .5s all;

        &:hover {
            box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        }
    }
}

.save {
    position: relative;
    background-color: #0F1145;
    padding-bottom: 170px;


    &__decoration {
        position: absolute;
        top: -250px;
        left: 0;
    }

    &__title {
        max-width: 864px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.33px;
        color: #99EFD0;
        margin: 0 auto;
        margin-bottom: 32px;


        & span {
            color: #F2994A;
        }
    }

    &__text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #8476AA;
        margin-bottom: 50px;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 109px;
    }

    &__block-title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.33px;
        color: #99EFD0;
        margin-bottom: 16px;
    }

    &__block-text {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #8476AA;
    }
}

.project {
    background-color: #0F1145;
    background-image: url(../images/project-decoration.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 450px;

    &__title {
        max-width: 770px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #99EFD0;
        margin: 0 auto;
        margin-bottom: 46px;
        text-align: center;

        & span {
            color: #F2994A;
        }
    }

    &__button {
        display: block;
        max-width: 167px;
        background: #F2994A;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        border-radius: 3px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 17px 32px;
        margin: 0 auto;
    }
}


.business {
    position: relative;
    background-color: #0F1145;
    padding-bottom: 143px;
    background-image: url(../images/business-decoration.png);
    background-repeat: no-repeat;
    background-position: top;

    &__decoration {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        max-width: 393px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #99EFD0;
        margin-bottom: 40px;

        & span {
            color: #F2994A;
        }
    }

    &__text {
        max-width: 470px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #8476AA;
        margin-bottom: 50px;
    }

    &__button {
        background: #F2994A;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        border-radius: 3px;
        color: #fff;
        padding: 17px 33px;
    }
}


.help {
    background-color: #0F1145;
    background-image: url(../images/help-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 200px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.325px;
        color: #99EFD0;
        text-align: center;
        margin-bottom: 32px;
    }

    &__text {
        max-width: 407px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        grid-gap: 60px;
    }

    &__block-img {
        display: block;
        margin-bottom: 16px;
    }

    &__block-title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #99EFD0;
        margin-bottom: 10px;
    }

    &__block-text {
        max-width: 224px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
    }
}


.reason {
    background-color: #0F1145;
    background-image: url(../images/reason-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 140px;

    &__box {
        background: rgba(60, 62, 125, 0.19);
        backdrop-filter: blur(134px);
        border-radius: 5px;
        padding-bottom: 50px;
        max-width: 800px;
        margin: 0 auto;
    }

    &__title {
        padding-top: 50px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #F2994A;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 396px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #95A1BB;
        margin: 0 auto;
        margin-bottom: 23px;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }

    &__input {
        width: 288px;
        background: #F6F6F6;
        opacity: 0.1;
        border-radius: 5px;
        padding: 18px 0px 18px 16px;
    }

    &__button {
        background: #F2994A;
        border-radius: 0px 5px 5px 0px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 18px 44px;
    }


    &__warning {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
        text-align: center;
    }
}


.footer {
    background-color: #0F1145;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__author {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.325px;
        color: #F2994A;
    }

    &__icon-link {
        margin-right: 10px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 200px;
        margin-bottom: 120px;
    }

    &__column {
        display: flex;
        flex-flow: column;
    }

    &__column-title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }

    &__column-link {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    &__bottom {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8D8D8D;
        padding-bottom: 100px;
    }

    &__copyright {
        margin-right: 32px;
    }
}


@media(max-width:1200px) {
    .hero__box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .hero__img {
        display: none;
    }

    .traffic__inner {
        flex-wrap: wrap;
    }

    .traffic__content {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .traffic__img {
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:1000px) {
    .help__inner {
        flex-flow: column;
    }

    .help__img {
        margin-bottom: 40px;
    }
}

@media(max-width:800px) {
    .menu {
        display: none;
    }

    .save {
        padding-bottom: 50px;
    }

    .save__box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .save__decoration {
        display: none;
    }

    .save__title {
        font-size: 28px;
    }

    .business__inner {
        flex-wrap: wrap;
    }

    .business__content {

        margin: 0 auto;
        margin-bottom: 70px;
    }

    .business__img {
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:650px) {

    // .header__content {
    //     display: flex;
    // }

    .header__partners {
        flex-flow: column;
    }

    .header__partners-img {
        margin-bottom: 40px;
    }

    .header__block {
        padding-top: 50px;
    }

    .header__title {
        font-size: 20px;
        line-height: 36px;
    }

    .header__video {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .header .about__popup {
        width: 100%;
        margin-bottom: 40px;
    }

    .header__content {
        margin-right: 0;
    }

    .header__partners {
        padding-bottom: 30px;
    }

    .popup__img {
        display: block;
        margin: 0 auto;
    }

    .hero {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .hero__box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .traffic {
        padding-bottom: 50px;
    }

    .traffic__content {
        padding-top: 30px;
    }

    .traffic__title {
        font-size: 36px;
    }

    .traffic__img {
        max-width: 200px;
    }

    .project__title {
        font-size: 28px;
    }

    .business__img {
        max-width: 250px;
    }

    .business__title {
        font-size: 28px;
    }

    .help {
        padding-bottom: 70px;
    }

    .reason__title {
        font-size: 28px;
    }

    .reason__form {
        flex-flow: column;
    }

    .reason__input {
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .reason__button {
        margin: 0 auto;
    }

    .reason {
        padding-bottom: 50px;
    }
}


@media(max-width:500px) {
    .help__img {
        max-width: 280px;
    }

    .help__box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .help__block {
        margin: 0 auto;
    }

    .footer__content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 100px;
    }

    .footer__bottom {
        flex-flow: column;
        text-align: center;
    }

    .footer__copyright {
        margin-bottom: 20px;
    }
}

@media(max-width:400px) {
    .header__box {
        flex-flow: column;
    }

    .header__content-buttons {
        flex-direction: column;
    }

    .header__more {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .burger-menu__button {
        margin-bottom: 20px;
        margin-left: 35px;
    }
}

@media(max-width:320px) {
    .footer__top {
        flex-flow: column;
    }

    .footer__author {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__icons {
        margin: 0 auto;
    }
}